:root {
--orange: orange;
--white: white;
}

/* Index.html */

/* Body main */

   #main {
    display: grid;
    grid-template-rows: 20vh 70vh 100px;
    margin: 0;
    padding: 0;
    background: url(background.gif);
  }

/* Header */

  header {
    grid-row: 1/2;
  }

  h1 {
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 10vh;
    font-size: 40px;
    font-family: Noto, serif;
    color: #000000;
    text-shadow: 2px 2px var(--orange);
    text-transform: uppercase;
    transition-duration: 1s;
  }
  
  h1:hover {
    letter-spacing: 10px;
  }

/* Main content */

  main {
    grid-row: 2/3;
  }

  /* Slideshow */

  .slidershow {
    box-shadow: 0px 0px 150px 10px #0ff;
    border: 4px solid transparent;
    border-image: linear-gradient(45deg, #ff0, #f0f, #f00, #00f, #0f0);
    border-image-slice: 1;
    width: 50vw;
    height: 50vh;
    overflow: hidden;
  }

 .middle {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
 }

 .selector {
   position: absolute;
   bottom: 20px;
   left: 50%;
   transform: translateX(-50%);
 }

 .sel {
   width: 50px;
   height: 10px;
   border: 6px solid black;
   margin: 10px;
   cursor: pointer;
   transition: 0.4s;
 }

 .bar:hover {
   background: var(--white);
 }

 input[name="r"]{
   position: absolute;
   visibility: hidden;
 }

 .slides {
   width: 500%;
   height: 100%;
   display: flex;
 }

 .image {
   width: 20%;
   transition: 0.6s;
 }

 .image img{
width: 100%;
height: 100%;
 }

 #r1:checked ~ .s1 {
    margin-left: 0;
  }
 #r2:checked ~ .s1 {
    margin-left: -20%;
  }
  #r3:checked ~ .s1 {
    margin-left: -40%;
  }
  #r4:checked ~ .s1 {
    margin-left: -60%;
  }
  #r5:checked ~ .s1 {
    margin-left: -80%;
  }

  .image p {
    position: absolute;
    transform: translate(25%, 50%);
    font-size: 6rem;
    font-family: fantasy;
    color: black;
  }



  /* Footer */

  footer {
    grid-row: 3/4;
    background: rgba(0, 0, 0, 0.9);
    text-align: center;
  }

  footer p {
    color: var(--white);
  }
  
  footer a {
    color: var(--white);
    text-decoration: none underline;
  }


  /* drawing.html */

 * #drawingBoard {
  font-family: cursive;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 #drawingBoard {
   display: grid;
   grid-template-columns: 1fr 5fr;
 }

 #drawProperties {
   display: grid;
   grid-template-columns: 1fr 4fr;
   grid-row: 1/-2;
   width: 100vw;
   height: 100px;
   background: rgba(87, 87, 87, 0.61);
   
 }

  .BackToMenu {
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
    margin-top: 20px
  }

   .form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgb(60, 184, 184);
    height: 100px;
    width: 100;
    
 }

 input, label {
   margin-top: 15px;
   margin-right: 20px;
   margin-left: 20px; 
 }

 #apply, #clear {
   margin-top: 30px;
   height: 25px;
 } 

 #drawingArea {
   grid-row: 3/4;
   border: 4px solid black;
 }
 